@media only screen and (max-width: 768px) {
  .navbar-img {
    padding-left: 15px;
    margin: 8px 0 8px 0;
  }
  
  .navbar-img img {
    height: 34px !important;
  }

  .navbar-brand {
    padding: 15px 15px 15px 0;
  }
}

#story div p {
  line-height: 1.9;
  font-size: 23px;
}

.vcenter {
  display: inline-block !important;
  vertical-align: middle !important;
  float: none !important;
}
